*{
	margin:0;
  padding:0;
}
html{
   font-size:62.5%;
}
body{
  width:100%;
  height:100%;
  color:#666;
  font-size:12px;
  font-size:1.2rem;
}
.mymap{
  width:100%;
  height:100%;
  background:#66cc00;
  position:relative;
  border:.2rem solid #ddd;
  z-index:1;
}
.mymap h1{
  line-height:50px;
  background:#3397e4;
  text-align:center;
  font-weight:500;
  font-size:2.6rem;
  color:#FFF;
  float:top;
}
.mymap h4{
  line-height:2.2rem;
  background:#3397e4;
  text-align:center;
  font-weight:500;
  font-size:1.4rem;
  color:#FFF;
  float:bottom;
}
.mymap .m_con{
  width:100%;
  height:50rem;
}
.mymap .m_search{
  height:3.6rem;
  width:40rem;
  padding:0;
  position:absolute;
  top: 20%;
  left: 50%;
  margin-left: -20rem;
  box-shadow:.1rem .1rem 3.2rem .1rem #000;
}
.mymap .m_search .s_text{
  width:39rem;
  height:3.6rem;
  border:none;
  outline:none;
  font-size:1.4rem;
  line-height:3.6rem;
  padding-left:1rem;
}
/*
.mymap .m_search .s_btn{
  width:8rem;
  height:3.6rem;
  border:none;
  outline:none;
  background:#28B559;
  font-size:1.4rem;
  color:#fff;
  cursor:pointer;
  float:right;
}*/
.menu{
  width:12rem;
  margin:0 auto;
  box-shadow:.1rem .1rem .5rem 0 #000;
  background:#FFF;
}
.menu ul li{
  list-style:none;
  line-height:1rem;
  padding:1rem;
}
